/* -- BREAK 1 -- */
@media only screen and (max-width: 1400px) {

    .logo {
        background-size: 50%;
        background-position: center;
        width: 170px;
        height: 120px;
    }

    .center {
        transform: scale(0.8);
    }

    #info {
        width: 250px;
    }
}

/* -- BREAK 2 -- */
@media only screen and (max-width: 1200px) {

    .logo {
        background-size: 50%;
        background-position: center;
        width: 170px;
        height: 120px;
    }

    .center {
        transform: scale(0.8);
    }

    #info {
        width: 250px;
    }
}
