@import url(http://fonts.googleapis.com/css?family=Open+Sans);


h2 {
    margin: 1.75em 0 0 0;
    color: #adffda;
    font-weight: normal;
}

p {
  padding: 5px;
  margin: 6px 0 4px;
}

#info p {
  padding: 10px;
  margin: 10px 0 4px;
}
